/* work sonc font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');
*{
font-family: 'Work Sans', sans-serif;
}
/* work sans end font */

/* share styles */
.btn-parimary{
    border-radius: 8px;
    background-color: rgb(172, 134, 38);
    color: white;
    font-size: 1.25rem;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

.text-light-agb{
    color: rgb(41, 33, 33);
}

/* header styles */
header{
    background-color: rgb(245, 198, 198) ;
    padding: 50px 240px ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 3em;
    font-weight: 700;
    color: rgb(17, 16, 16);
}

nav > ul {
 display: flex;
 list-style: none;
}
nav li {
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}
nav li a {
    text-decoration: none;
    color: rgb(10, 9, 9);
}

/* banner styles */

.banner-contect{
    max-width: 800px;
    text-align: center;
    margin: 0 auto ;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: rgb(32, 23, 23) ;
}
.banner-description{
    color: rgb(41, 33, 33);
}
.banner img{
    width: 100%;
    margin-top: 20px;
}


/* main styles */
.main{
    max-width: 1440px;
    margin: 70px auto ;
}
/* teams style */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
   padding-left: 70px;
    padding-right: 70px;
}
.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list{
    color: rgb(79, 80, 80);
    font-weight: 500;

}
.teams-title .text-features{
    color:  rgb(158, 123, 34) ;
    font-weight: 700;
}
/* Responsive Media Quri*/
/* Moblie divices */
@media screen and (max-width:576px ) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }

    .teams-content{
        padding-left: 20px;
         padding-right: 20px;
     }

}
/* tablet or midiyem divices */
@media screen and (min-width:576px) and (max-width:960px) {
  
    header{
        padding: 50px;
    }
  
    nav, .teams-container
    {
        flex-direction: column;
    }
}

